doctype html
//
  A thank you webpage for registering / making a booking / logging out with Travel Experts
  * Author: Harry Willis
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    script(type='text/javascript' src='../scripts/travel_scripts.js')
    
    link(rel='stylesheet' type='text/css' href='css/index.css')
    link(rel='stylesheet' type='text/css' href='css/form.css')

    title THANK YOU

    div
        img#logo(src='album/00.png' alt='')
        p.header Travel Experts
    .Nav
        nav#nav
            li
                a(href='/') Travel Experts
            li
                a(href='vacation') Vacation Package
            li
                a(href='register') Register
            li
                a(href='contact') Contact
            li 
                a(href='bookings') Book Now
            li
                a(href='login' style='visibility: #{showIn}') #{logIn}
                a(href='logout' style='visibility: #{showOut}') #{logOut}
                
h1#seeYou Thank you #{greeting}